Django==1.9.3
MarkupSafe==0.23
Pillow==3.1.1
PyJWT==1.4.0
PyYAML==3.11
Unidecode==0.4.19
argh==0.26.1
argparse==1.4.0
attrs==15.2.0
backports-abc==0.4
cffi==1.5.2
cryptography==1.3
defusedxml==0.4.1
django-autoslug==1.9.3
django-braces==1.8.1
django-cities==0.4.2
django-cities-light==3.2.0
django-ckeditor==4.5.1
django-countries-plus==1.1
django-endless-pagination==2.0
django-haystack==2.4.1
django-ipware==1.1.3
django-languages-plus==0.1.5
django-model-utils==2.4
django-registration==2.0.4
django-star-ratings==0.5.1
django-stdimage==2.3.2
django-user-sessions==1.7.1
elasticsearch==2.3.0
geoip2==2.2.0
idna==2.0
maxminddb==1.2.0
oauthlib==1.0.3
pathtools==0.1.2
progressbar2==3.6.2
psycopg2==2.6.1
pyOpenSSL==16.0.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pychalk==0.0.5
pycparser==2.14
python-dateutil==2.5.1
python-social-auth==0.2.14
python3-openid==3.0.9
pytz==2016.3
redis==2.10.5
requests==2.9.1
requests-oauthlib==0.6.1
service-identity==16.0.0
six==1.10.0
urllib3==1.14
watchdog==0.8.3
zope.interface==4.1.3
