{% extends "base.html" %}

{% load i18n %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a href="#">{% trans "Friends" %}</a></li>
  <li><a href="/social/contacts_g/">{% trans "Groups" %}</a></li>
</ul>

<div class="col-md-6" style="margin-top:1%">
  {% for object in objects %}
  <div class="col-sm-3">
    <div class="caption">
      {% if object.friend.info.currentpic == None %}
      <img src="/media/user/pic/not_available.gif" class="img-responsive">
      {% else %}
      <img src="{{ object.friend.info.currentpic.avatar.thumbnail.url }}" class="img-responsive" />
      {% endif %}
      <center>online</center>
      <center><a href="/social/user/{{ object.friend.id }}">{{ object.friend.username|truncatechars:12 }}</a></center>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
