{% extends "base.html" %}

{% block content %}

{% if section == "messages_l2" %}

<form method='POST'>{% csrf_token %}
  {{ form.media }}
  {{ form.as_p }}
  <input type='submit' value='Send message' />
</form>

{% endif %}

{% for object in objects %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <div class="caption">
	
	{% if section == "messages_l1" %}
	<h4>{{ object.sender }}</h4>
	<p>{{ object.text }}</p>
	<p>{{ object.created }}</p>
	<a href="/social/messages/{{ object.sender.id }}" class="btn btn-primary btn-sm" role="button">Read</a>

	{% elif section == "messages_l2" %}
	<h4>{{ object.sender }}</h4>
	<p>{{ object.text }}</p>
	<p>{{ object.created }}</p>
	
	{% elif section == "notifications" %}
	<a href="/social/notification/delete/{{ object.id }}" class="btn btn-primary btn-sm" role="button">Delete</a>
	<h4>{{ object.label }}</h4>
	<p>{{ object.text }}</p>
	    {% if "application" in object.type  %}
	    <a href="/social/notification/accept/{{ object.request.id }}" class="btn btn-primary btn-sm" role="button">Accept</a>
	    <a href="/social/notification/reject/{{ object.request.id }}" class="btn btn-primary btn-sm" role="button">Reject</a>
	    {% elif object.type == "event_accept" %}
	    <a href="/event/{{ object.event_notification.notification_subject.id }}" class="btn btn-primary btn-sm" role="button">View event</a>
	    {% elif object.type == "friend_accept" %}
	    <a href="/social/user/{{ object.friend_notification.notification_subject.id }}" class="btn btn-primary btn-sm" role="button">View user</a>
	    {% endif %}
	
	{% elif section == "events" %}
	<h3><a href="/event/{{ object.event.id }}">{{ object.event.name }}</a></h3>
	<p>{{ object.event.participation_set.count }}/{{ event.participant_number }} participants</p>
	<p>{{ object.event.description }}</p>

	{% elif section == "contacts" %}
	<a href="/social/user/{{ object.friend.id }}">{{ object.friend.username }}</a>
	
	{% endif %}
	
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?page={{ objects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
