{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% for object in objects %}
<div class="row" style="margin-top:1%;">
  <div class="col-sm-12">
    <div class="thumbnail" style="border-radius:20px;background:#B0E0E6">
      <div class="caption" style="margin-top:-1%">
	<div class="row">
	  <div class="col-md-11">
	    {% if object.type == "event_application" %}

	    <div class="row" style="margin-bottom:-2%">
	      <div class="col-md-2" style="margin-top:1%">
		<a href="/social/notification/accept/{{ object.request.id }}" class="btn btn-lg" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
		<a href="/social/notification/reject/{{ object.request.id }}" class="btn btn-lg" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
		</div>
		<div class="col-md-10" style="margin-top:-1%">
		  <h3 style="font-family:utopia">{% trans object.label %}</h3>
		</div>
	    </div>
	    <hr>
	    {% with object.request.event_application.request_class as event %}
	    <div class="col-md-2">
	      <a href="/social/user/{{ object.sender.id }}">
		<img src="{{ object.sender.info.currentpic.avatar.thumbnail.url }}" class="img-responsive" alt="{{ object.sender.name }}" style="width:100px;margin-top:-10%;border-radius:10px 0px 0px 10px;"/>
		<center><p style="margin-bottom:-5%;">{{ object.sender }}</p></center>
	      </a>
	    </div>
	    <div class="col-md-4" style="margin-top:-2%">
	      <div class="row">
		<div class="col-md-2" style="margin-top:2%">
		  <a href="/event/{{ event.id }}" class="btn btn-lg"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
		</div>
		<div class="col-md-6">
		  <h4>{{ event.name }}</h4>
		</div>
	      </div>
	      <p><t style="color:#0087BD">{% trans "Start time" %}:</t> {{ event.start_time }}<p>
	      <p><t style="color:#0087BD">{% trans "Full" %}:</t> {{ event.participation_set.count }}/{{ event.participant_number }}</p>
	    </div>
	    <div class="col-md-6" style="margin-top:-2%">
	      {% if object.text != None %}
	      <h4>{% trans "Message" %}:</h4>
	      <p>{{ object.text }}</p>
	      {% endif %}
	    </div>
	    {% endwith %}

	    {% elif object.type == "friend_application" %}

	    <div class="row" style="margin-bottom:-2%">
	      <div class="col-md-2" style="margin-top:1%">
		<a href="/social/notification/accept/{{ object.request.id }}" class="btn btn-lg" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
		<a href="/social/notification/reject/{{ object.request.id }}" class="btn btn-lg" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
		</div>
		<div class="col-md-10" style="margin-top:-1%">
		  <h3 style="font-family:utopia">{% trans object.label %}</h3>
		</div>
	    </div>
	    <hr>
	    <div class="col-md-2">
	      <a href="/social/user/{{ object.sender.id }}">
		<img src="{{ object.sender.info.currentpic.avatar.thumbnail.url }}" class="img-responsive" alt="{{ object.sender.name }}" style="width:100px;margin-top:-10%;border-radius:10px 0px 0px 10px;"/>
		<center><p style="margin-bottom:-5%;">{{ object.sender }}</p></center>
	      </a>
	    </div>
	    <div class="col-md-4" style="margin-top:-1%">
	      <p><t style="color:#0087BD">{% trans "Age" %}:</t> {{ object.sender.info.age }}<p>
	      <p><t style="color:#0087BD">{% trans "Sex" %}:</t> {% if object.sender.info.sex %}{% trans "Male" %} {% elif object.sender.info.sex == None %} {% else %} {% trans "Female" %} {% endif %}<p>
	      <p><t style="color:#0087BD">{% trans "Location" %}:</t> {{ object.sender.info.location }}</p>
	      <p><t style="color:#0087BD">{% trans "Languages" %}:</t> {% for language in object.sender.languages.all %}{% trans language.language.name %}, {% endfor %}</p>
	    </div>
	    <div class="col-md-6" style="margin-top:-2%">
	      {% if object.text != None %}
	      <h4>{% trans "Message" %}:</h4>
	      <p>{{ object.text }}</p>
	      {% endif %}
	    </div>

	    {% elif object.type == "group_application" %}

	    <div class="row" style="margin-bottom:-2%">
	      <div class="col-md-2" style="margin-top:1%">
		<a href="/social/notification/accept/{{ object.request.id }}" class="btn btn-lg" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
		<a href="/social/notification/reject/{{ object.request.id }}" class="btn btn-lg" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
		</div>
		<div class="col-md-10" style="margin-top:-1%">
		  <h3 style="font-family:utopia">{% trans object.label %}</h3>
		</div>
	    </div>
	    <hr>
	    {% with object.request.group_application.request_class as group %}
	    <div class="col-md-2">
	      <a href="/social/user/{{ object.sender.id }}">
		<img src="{{ object.sender.info.currentpic.avatar.thumbnail.url }}" class="img-responsive" alt="{{ object.sender.name }}" style="width:100px;margin-top:-10%;border-radius:10px 0px 0px 10px;"/>
		<center><p style="margin-bottom:-5%;">{{ object.sender }}</p></center>
	      </a>
	    </div>
	    <div class="col-md-4" style="margin-top:-2%">
	      <div class="row">
		<div class="col-md-2" style="margin-top:2%">
		  <a href="/social/group/{{ group.id }}" class="btn btn-lg"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
		</div>
		<div class="col-md-6">
		  <h4>{{ group.group_name }}</h4>
		</div>
	      </div>
	      <p><t style="color:#0087BD">{% trans "Age" %}:</t> {{ object.sender.info.age }}<p>
	      <p><t style="color:#0087BD">{% trans "Sex" %}:</t> {% if object.sender.info.sex %}{% trans "Male" %} {% elif object.sender.info.sex == None %} {% else %} {% trans "Female" %} {% endif %}<p>
	      <p><t style="color:#0087BD">{% trans "Location" %}:</t> {{ object.sender.info.location }}</p>
	      <p><t style="color:#0087BD">{% trans "Languages" %}:</t> {% for language in object.sender.languages.all %}{% trans language.language.name %}, {% endfor %}</p>
	    </div>
	    <div class="col-md-6" style="margin-top:-2%">
	      {% if object.text != None %}
	      <h4>{% trans "Message" %}:</h4>
	      <p>{{ object.text }}</p>
	      {% endif %}
	    </div>
	    {% endwith %}
	    
	    {% elif object.type == "event_invitation" %}
	    
	    <div class="row" style="margin-bottom:-2%">
	      <div class="col-md-2" style="margin-top:1%">
		<a href="/social/notification/accept/{{ object.request.id }}" class="btn btn-lg" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
		<a href="/social/notification/reject/{{ object.request.id }}" class="btn btn-lg" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
		</div>
		<div class="col-md-10" style="margin-top:-1%">
		  <h3 style="font-family:utopia">{% trans object.label %}</h3>
		</div>
	    </div>
	    <hr>
	    {% with object.request.event_application.request_class as event %}
	    <div class="col-md-2">
	      <a href="/social/user/{{ event.owner.id }}">
		<img src="{{ event.owner.info.currentpic.avatar.thumbnail.url }}" class="img-responsive" alt="{{ event.owner.name }}" style="width:100px;margin-top:-10%;border-radius:10px 0px 0px 10px;"/>
		<center><p style="margin-bottom:-5%;">{{ event.owner }}</p></center>
	      </a>
	    </div>
	    <div class="col-md-4" style="margin-top:-2%">
	      <div class="row">
		<div class="col-md-2" style="margin-top:2%">
		  <a href="/event/{{ event.id }}" class="btn btn-lg"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
		</div>
		<div class="col-md-6">
		  <h4>{{ event.name }}</h4>
		</div>
	      </div>
	      <p><t style="color:#0087BD">{% trans "Start time" %}:</t> {{ event.start_time }}<p>
		<div class="row">
		  <div class="col-md-3">
		    <t style="color:#0087BD">{% trans "Platform" %}:</t>
		  </div>
		  <div class="col-md-2">
		    <img src="{{ event.platform.logo.thumbnail.url }}" class="img-responsive" alt="{{ event.platform.name }}"/>
		  </div>
		</div>
	    </div>
	    <div class="col-md-6" style="margin-top:-2%">
	      {% if object.text != None %}
	      <h4>{% trans "Message" %}:</h4>
	      <p>{{ object.text }}</p>
	      {% endif %}
	    </div>
	    {% endwith %}

	     {% elif object.type == "group_invitation" %}
	    
	    <div class="row" style="margin-bottom:-2%">
	      <div class="col-md-2" style="margin-top:1%">
		<a href="/social/notification/accept/{{ object.request.id }}" class="btn btn-lg" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
		<a href="/social/notification/reject/{{ object.request.id }}" class="btn btn-lg" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
		</div>
		<div class="col-md-10" style="margin-top:-1%">
		  <h3 style="font-family:utopia">{% trans object.label %}</h3>
		</div>
	    </div>
	    <hr>
	    {% with object.request.group_application.request_class as group %}
	    <div class="col-md-2">
	      <a href="/social/user/{{ object.sender.id }}">
		<img src="{{ object.sender.info.currentpic.avatar.thumbnail.url }}" class="img-responsive" alt="{{ object.sender }}" style="width:100px;margin-top:-10%;border-radius:10px 0px 0px 10px;"/>
		<center><p style="margin-bottom:-5%;">{{ object.sender }}</p></center>
	      </a>
	    </div>
	    <div class="col-md-4" style="margin-top:-2%">
	      <div class="row">
		<div class="col-md-2" style="margin-top:2%">
		  <a href="/social/group/{{ group.id }}" class="btn btn-lg"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
		</div>
		<div class="col-md-6">
		  <h4>{{ group.group_name }}</h4>
		</div>
	      </div>
	      <p><t style="color:#0087BD">{% trans "Number of participants" %}:</t> {{ group.groupparticipation_set.all.count }}<p>
	    </div>
	    <div class="col-md-6" style="margin-top:-2%">
	      {% if object.text != None %}
	      <h4>{% trans "Message" %}:</h4>
	      <p>{{ object.text }}</p>
	      {% endif %}
	    </div>
	    {% endwith %}

	    {% elif object.type == "event" %}
	    
	    <div class="row" style="margin-bottom:-1%">
	      <div class="col-md-12" style="margin-top:-1%">
		<h3 style="font-family:utopia">{% trans object.label %}</h3>
	      </div>
	    </div>
	    <hr>
	    {% with object.event_notification.notification_subject as event %}
	    <div class="col-md-2">
	      <a href="/social/user/{{ object.sender.id }}">
		<img src="{{ object.sender.info.currentpic.avatar.thumbnail.url }}" class="img-responsive" alt="{{ object.sender.name }}" style="width:100px;margin-top:-10%;border-radius:10px 0px 0px 10px;"/>
		<center><p style="margin-bottom:-5%;">{{ object.sender }}</p></center>
	      </a>
	    </div>
	    <div class="col-md-4" style="margin-top:-2%">
	      <div class="row">
		<div class="col-md-2" style="margin-top:2%">
		  <a href="/event/{{ event.id }}" class="btn btn-lg"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
		</div>
		<div class="col-md-6">
		  <h4>{{ event.name }}</h4>
		</div>
	      </div>
	      <p><t style="color:#0087BD">{% trans "Start time" %}:</t> {{ event.start_time }}<p>
	      <p><t style="color:#0087BD">{% trans "Full" %}:</t> {{ event.participation_set.count }}/{{ event.participant_number }}</p>
	    </div>
	    <div class="col-md-6" style="margin-top:-2%">
	      {% if object.text != None %}
	      <h4>{% trans "Message" %}:</h4>
	      <p>{{ object.text }}</p>
	      {% endif %}
	    </div>
	    {% endwith %}

	    {% elif object.type == "friend" %}

	    <div class="row" style="margin-bottom:-1%">
	      <div class="col-md-12" style="margin-top:-1%">
		<h3 style="font-family:utopia">{% trans object.label %}</h3>
	      </div>
	    </div>
	    <hr>
	    <div class="col-md-2">
	      <a href="/social/user/{{ object.sender.id }}">
		<img src="{{ object.sender.info.currentpic.avatar.thumbnail.url }}" class="img-responsive" alt="{{ object.sender.name }}" style="width:100px;margin-top:-10%;border-radius:10px 0px 0px 10px;"/>
		<center><p style="margin-bottom:-5%;">{{ object.sender }}</p></center>
	      </a>
	    </div>
	    <div class="col-md-4" style="margin-top:-1%">
	      <p><t style="color:#0087BD">{% trans "Age" %}:</t> {{ object.sender.info.age }}<p>
	      <p><t style="color:#0087BD">{% trans "Sex" %}:</t> {% if object.sender.info.sex %}{% trans "Male" %} {% elif object.sender.info.sex == None %} {% else %} {% trans "Female" %} {% endif %}<p>
	      <p><t style="color:#0087BD">{% trans "Location" %}:</t> {{ object.sender.info.location }}</p>
	      <p><t style="color:#0087BD">{% trans "Languages" %}:</t> {% for language in object.sender.languages.all %}{% trans language.language.name %}, {% endfor %}</p>
	    </div>
	    <div class="col-md-6" style="margin-top:-2%">
	      {% if object.text != None %}
	      <h4>{% trans "Message" %}:</h4>
	      <p>{{ object.text }}</p>
	      {% endif %}
	    </div>

	    {% elif object.type == "group" %}

	    <div class="row" style="margin-bottom:-1%">
	      <div class="col-md-12" style="margin-top:-1%">
		<h3 style="font-family:utopia">{% trans object.label %}</h3>
	      </div>
	    </div>
	    <hr>
	    {% with object.group_notification.notification_subject as group %}
	    <div class="col-md-2">
	      <a href="/social/user/{{ object.sender.id }}">
		{% if object.sender.info.currentpic == None %}
		<img src="/media/user/pic/not_available.gif" class="img-responsive" style="width:100px;margin-top:-10%;border-radius:10px 0px 0px 10px;">
		{% else %}
		<img src="{{ object.sender.info.currentpic.avatar.thumbnail.url }}" class="img-responsive" alt="{{ object.sender }}" style="width:100px;margin-top:-10%;border-radius:10px 0px 0px 10px;"/>
		{% endif %}
		<center><p style="margin-bottom:-5%;">{{ object.sender }}</p></center>
	      </a>
	    </div>
	    <div class="col-md-4" style="margin-top:-2%">
	      <div class="row">
		<div class="col-md-2" style="margin-top:2%">
		  <a href="/social/group/{{ group.id }}" class="btn btn-lg"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
		</div>
		<div class="col-md-6">
		  <h4>{{ group.group_name }}</h4>
		</div>
	      </div>
	    </div>
	    <div class="col-md-6" style="margin-top:-2%">
	      {% if object.text != None %}
	      <h4>{% trans "Message" %}:</h4>
	      <p>{{ object.text }}</p>
	      {% endif %}
	    </div>
	    {% endwith %}
	    
	    {% elif "application" in object.type or "invitation" in object.type %}
	    <h4 style="color:#0087BD">{% trans object.label %}</h4>
	    {% if object.text != None %}
	    <p>{{ object.text }}</p>
	    {% endif %}
	    <a href="/social/notification/accept/{{ object.request.id }}" class="btn btn-primary btn-sm" role="button">Accept</a>
	    <a href="/social/notification/reject/{{ object.request.id }}" class="btn btn-primary btn-sm" role="button">Reject</a>
	    
	   
	    <a href="/event/{{ object.event_notification.notification_subject.id }}" class="btn btn-primary btn-sm" role="button">View event</a>
	    {% elif object.type == "friend" %}
	    <h4 style="color:#0087BD">{% trans object.label %}</h4>
	    {% if object.text != None %}
	    <p>{{ object.text }}</p>
	    {% endif %}
	    <a href="/social/user/{{ object.friend_notification.notification_subject.id }}" class="btn btn-primary btn-sm" role="button">View user</a>
	    {% elif object.type == "group" %}
	    <h4 style="color:#0087BD">{% trans object.label %}</h4>
	    {% if object.text != None %}
	    <p>{{ object.text }}</p>
	    {% endif %}
	    <a href="/social/group/{{ object.group_notification.notification_subject.id }}" class="btn btn-primary btn-sm" role="button">View group</a>

	    {% elif object.type == "cancellation" %}
	    <h4 style="color:#0087BD">{% trans object.label %}</h4>
	    {% if object.text != None %}
	    <p>{{ object.text }}</p>
	    {% endif %}
	    
	    {% endif %}
	  </div>
	  <div class="col-md-1">
	    <a href="/social/notification/delete/{{ object.id }}" class="btn btn-lg" style="margin-top:10%;margin-left:10%"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?page={{ objects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
