{% extends "base.html" %}

{% block content %}
<h2>{{ user.username }}</h2>
{% if request.user.is_authenticated %}
<a href="#message" class="btn btn-primary btn-sm" role="button" data-toggle="modal">Send message</a>
<a href="/social/notification/reject/{{ object.application.id }}" class="btn btn-primary btn-sm" role="button">Invite to event</a>
<a href="/social/application/friend/{{ user.id }}" class="btn btn-primary btn-sm" role="button">Add to friends</a>
<a href="/social/notification/reject/{{ object.application.id }}" class="btn btn-primary btn-sm" role="button">Invite to group</a>
{% endif %}

{% if user.is_active %}
<p>Online</p>
{% else %}
<p>Last online: {{ user.last_login }}</p>
{% endif %}
<p>Email: {{ user.email }}</p>

{% for event in events %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <div class="caption">
	{% if event.is_host %}
	<p>Host</p>
	{% else %}
	<p>Participant</p>
	{% endif %}
	<h3><a href="/event/{{ event.event.id }}">{{ event.event.name }}</a></h3>
	<p>{{ event.event.description }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}

{% if request.user.is_authenticated %}
{% block modals %}

<div class="modal fade" id="message" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<form method='POST'>{% csrf_token %}
	  {{ form.media }}
	  {{ form.as_p }}
	  <input type='submit' value='Send message' />
	</form>
      </div>
    </div>
  </div>
</div>

{% endblock modals %}
{% endif %}
