{% extends "base.html" %}

{% load static from staticfiles %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="user_info">
    <div class="col-md-3" style="margin-top:1%">
      <div class="thumbnail">
	{% if user.info.currentpic == None %}
	<img src="/media/user/pic/no_pic.png" class="img-responsive">
	{% else %}
	<a href="#gallery" data-toggle="modal"><img src="{{ user.info.currentpic.avatar.large.url }}" class="img-responsive" /></a>
	{% endif %}
	{% if request.user.is_authenticated %}
	{% if request.user == user %}
	<center><a href="#profilepic" data-toggle="modal">{% trans "set new profile image" %}</a></center>
	{% endif %}
      </div>
    </div>

    <div class="col-md-9">
      <h2>{{ user.username }}</h2>
      <p>{{ user.info.status_message }}.</p>
      {% if request.user != user %}
      <a href="#message" class="btn btn-primary btn-sm" role="button" data-toggle="modal">{% trans "Send message" %}</a>
      <a href="/social/application/friend/{{ user.id }}" class="btn btn-primary btn-sm" role="button">{% trans "Add to friends" %}</a>
      <a href="#event-invite" class="btn btn-primary btn-sm" role="button" data-toggle="modal">{% trans "Invite to event" %}</a>
      <a href="#group-invite" class="btn btn-primary btn-sm" role="button" data-toggle="modal">{% trans "Invite to group" %}</a>
      {% endif %}
      {% endif %}
      <hr>
      <!--
	  {% if user.is_active %}
	  <p>Online</p>
	  {% else %}
      <p>Last online: {{ user.last_login }}</p>
      {% endif %} -->

      <div class="col-md-6" style="color:grey">
	<p>{% trans "Sex" %}:</p>
	<p>{% trans "Current location" %}:</p>
	<p>{% trans "Birthday" %}:</p>
	<p>{% trans "Languages" %}:</p>
	<p>{% trans "Platforms" %}:</p>
      </div>
      <div class="col-md-6" style="color:#0087BD">
	<p>{{ user.info.sex }}</p>
	<p>{{ user.info.residence }} None</p>
	<p>{{ user.info.birthdate }}</p>
	{% if user.languages.all.count == 0 %}
	<a href="#"><p>{% trans "set at least one language for better search results" %}</p></a>
	{% else %}
	<p>
	  {% for lang in user.languages.all %}
	  {% trans lang %},
	  {% endfor %}
	</p>
	{% endif %}
	<p>Platforms</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  
  <div id="members" class="col-sm-3">
    <h4 style="margin-top:-20px;color:white;background-color:#61768d;height:20px;text-align:center;">4 {% trans "friends" %}</h4>
    <div class="row">
      {% for friendship in user.friends.all %}
      <div class="col-sm-6">
	  <div class="caption">
	    {% if friendship.friend.info.currentpic == None %}
	    <img src="/media/user/pic/not_available.gif" class="img-responsive">
	    {% else %}
	    <img src="{{ friendship.friend.info.currentpic.avatar.thumbnail.url }}" class="img-responsive" />
	    {% endif %}
	    <center><a href="/social/user/{{ friendship.friend.id }}">{{ friendship.friend.username|truncatechars:12 }}</a></center>
	  </div>
      </div>
      {% endfor %}
    </div>
    <h4 style="color:white;background-color:#61768d;height:20px;text-align:center">2 {% trans "groups" %}</h4>
    <div class="row">
      {% for participation in user.groupparticipation_set.all %}
      <div class="col-sm-6">
	  <div class="caption">
	    {% if participation.group.currentpic.currentpic == None %}
	    <img src="/media/user/pic/not_available.gif" class="img-responsive">
	    {% else %}
	    <img src="{{ participation.group.currentpic.currentpic.avatar.thumbnail.url }}" class="img-responsive" />
	    {% endif %}
	    <center><a href="/social/group/{{ participation.group.id }}">{{ participation.group.group_name|truncatechars:12 }}</a></center>
	  </div>
      </div>
      {% endfor %}
    </div>
  </div>
    
  <div id="group-events" class="col-sm-9">
    <h3 style="margin-top:-20px;color:white;background-color:grey;height:30px;text-align:center">{% trans "Events" %}</h3>
    {% for event in events %}
    <div class="thumbnail" style="border-radius:20px;background:#DCDCDC">
	<div class="row">
	  <div class="col-md-2">
	    <a href="/game/{{ event.event.game.id }}">
	      <img src="{{ event.event.game.cover.thumbnail.url }}" class="img-responsive" alt="{{ event.event.game.name }}" style="margin-top:3%;border-radius:10px 0px 0px 10px"/>
	    </a>
	  </div>
	  <div class="col-md-9" style="margin-top:-1%">
	    <h3><a href="/event/{{ event.event.id }}">{{ event.event.name }}</a>({{event.event.game.name}})</h3>
	    <div class="user-role" style="color:#0087BD">
	      {% if event.is_host %}
	      <p>{% trans "Host" %}</p>
	      {% else %}
	      <p>{% trans "Participant" %}</p>
	      {% endif %}
	    </div>
	    <p>{{ event.event.description }}</p>
	  </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}

{% if request.user.is_authenticated %}
{% block modals %}

{% if request.user != user %}

<div class="modal fade" id="message" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
	<form method='POST'>{% csrf_token %}
	  {{ form.as_p }}
	  <input type='submit' value={% trans "Send message" %} />
	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="event-invite" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
	<form action="/social/event/invite/{{ user.id }}" method='POST'>{% csrf_token %}
	  <b><p>{% trans "Message" %}:</p></b>
	  <textarea id="event-invite-message" name="invite-text" rows="5"cols="80"></textarea>
	  <p>
	  <b>{% trans "Choose event" %}:</b>
	  <select name="eventid" style="margin-top:1%;margin-left:5%;width:100px">
	    {% for mevent in m_events %}
	    <option value="{{ mevent.id }}">{{ mevent }}</option>
	    {% endfor %}
	  </select>
	  </p>
	  <input type="submit" value={% trans "Send invite" %} style="margin-top:1%" />
	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="group-invite" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
	<form action="/social/group/invite/{{ user.id }}" method='POST'>{% csrf_token %}
	  <b><p>{% trans "Message" %}:</p></b>
	  <textarea id="event-invite-message" name="invite-text" rows="5"cols="80"></textarea>
	  <p>
	  <b>{% trans "Choose group" %}:</b>
	  <select name="groupid" style="margin-top:1%;margin-left:5%;width:100px">
	    {% for mgroup in m_groups %}
	    <option value="{{ mgroup.id }}">{{ mgroup }}</option>
	    {% endfor %}
	  </select>
	  </p>
	  <input type="submit" value={% trans "Send invite" %} style="margin-top:1%" />
	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="gallery" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" id="large-image-header">
	<center><img src="#" id="large-image"></center>
      </div>
      <div class="modal-body" id="gallery-body">
	<div class="row">
	  {% for pic in user.userpic_set.all %}
	  <div class="col-md-3">
	    <div>
	      <a class="modal-pic" data-large="{{ pic.avatar.xlarge.url }}"><img src="{{ pic.avatar.large.url }}" class="img-responsive"></a>
	    </div>
	  </div>
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="modal fade" id="profilepic" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="preview-header">
	<img src="#" id="img_preview">
      </div>
      <div class="modal-body" id="profilepic-body">
	<form method='POST' enctype="multipart/form-data">{% csrf_token %}
	  {{ form.as_p }}
	  <input type='submit' value={% trans "Save" %} />
	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="gallery" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" id="large-image-header">
	<center><img src="#" id="large-image"></center>
      </div>
      <div class="modal-body" id="gallery-body">
	<div class="row">
	  {% for pic in user.userpic_set.all %}
	  <div class="col-md-3">
	    <div>
	      <a class="modal-pic" data-large="{{ pic.avatar.xlarge.url }}"><img src="{{ pic.avatar.large.url }}" class="img-responsive"></a>
	      <div class="caption">
		{% if pic != user.info.currentpic %}
		<a href="/accounts/picture/change/{{ pic.id }}" class="btn btn-primary" role="button">{% trans "Select" %}</a>
		{% endif %}
		<a href="/accounts/picture/delete/{{ pic.id }}" class="btn btn-primary" role="button">{% trans "Delete" %}</a>
	      </div>
	    </div>
	  </div>
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>
</div> 
{% endif %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/userpage.js' %}"></script>
{% endblock js %}

{% endblock modals %}

{% endif %}
