<!DOCTYPE html>

{% load static from staticfiles %}
{% load i18n %}

<html>
  <head>
    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock css %}
  </head>
  <body>
    <div id="wrapper">
      <header class="main-header">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  {% if request.user.is_authenticated %}
	  <a href="#sidebar" id="sidebar-collapse" class="btn navbar-left btn-lg" val="on"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></a>
	  <a href="#" id="sidebar-expand" class="btn navbar-left btn-lg" val="on"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></a>
	  {% else %}
	  <a href="/" class="btn navbar-left btn-lg"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
	  {% endif %}
	  <div class="navbar-custom-menu">
	    {% if request.user.is_authenticated %}
	    <ul class="nav navbar-nav navbar-right">
	      <li>
		<form method="GET" action="/search" id="search" class="navbar-form">
		    <input name="q" size="40" type="text" id="search-box" placeholder={% trans "Search games..." %}/>
		  <button id="search-button" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
		</form>
	      </li>
	      <li>
		<a href="/social/messages/" class="btn btn-lg"><span class="glyphicon glyphicon-envelope" aria-hidden="true">
		    <span class="badge" id="new-message-badge" style="margin-top:-45%;margin-left:-40%;background-color:red">{{ request.user.info.unread_messages }}</span>
		</span></a>
	      </li>
	      <li>
		<a href="/social/notifications/" class="btn btn-lg"><span class="glyphicon glyphicon-bell" aria-hidden="true">
		    <span class="badge" id="unread-notifications-badge" style="margin-top:-45%;margin-left:-40%;background-color:red">{{ request.user.info.unread_notifications }}</span></span>
		</a>
	      </li>
	      <li><a href="/accounts/logout/" class="btn btn-lg"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
	      <li>
		<form method="GET" action="/search" id="search" class="navbar-form">
		    <input name="q" size="40" type="text" id="search-box" placeholder={% trans "Search games..." %}/>
		  <button id="search-button" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
		</form>
	      </li>
              <li>
		<a href="/accounts/login/" id="login-button">{% trans "login" %}</a>
		<div style="clear:both"></div>
                <div id="loginBox">                
                    <form id="loginForm" method="POST" action="/accounts/login/" >{% csrf_token %}
                        <fieldset id="body">
                            <fieldset>
                                <label for="uname">{% trans "Username" %}</label>
                                <input type="text" name="username" id="uname"  />
                            </fieldset>
                            <fieldset>
                                <label for="password">{% trans "Password" %}</label>
                                <input type="password" name="password" id="password" />
                            </fieldset>
			    <fieldset>
                            <input type="submit" id="login" value={% trans "Login" %} />
			    </fieldset>
			    <fieldset>
			      <b>Or login with:</b>
			    </fieldset>
			    <a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'images/FaceBook_32x32.png' %}" alt="Facebook" /></a>
			    <a href="{% url 'social:begin' 'twitter' %}"><img src="{% static 'images/Twitter_32x32.png' %}" alt="Twitter" /></a>
			    <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'images/Google_32x32.png' %}" alt="Google" /></a>
			    <a href="{% url 'social:begin' 'yandex-oauth2' %}"><img src="{% static 'images/Yandex_32x32.png' %}" alt={% trans "Yandex" %} /></a>
			</fieldset>
                    </form>
                </div>
	      </li>
              <li><a href="/accounts/register/">{% trans "register" %}</a></li>
	    </ul>
	    {% endif %}
	  </div>
	</nav>
      </header>

      {% if request.user.is_authenticated %}
      <div id="sidebar" class="collapseSidebar">
	<div id="userinfo">
	  {% if request.user.info.currentpic == None %}
	  <img src="/media/games/covers/not_available.gif" class="img-circle" style="border: 1px solid;">
	  {% else %}
	  <img src="{{ request.user.info.currentpic.avatar.thumbnail.url }}" class="img-circle">
	  {% endif %}
	  <a href="/social/user/{{ request.user.id }}" id="username">{{ request.user.username|truncatechars:16 }}</a>
	</div>
	<hr>
	<ul class="sidebar-nav">
	  <li {% if request.path == "/" %} class="selected" {% endif %}><h3><a href="/"><span class="btn-lg glyphicon glyphicon-home" aria-hidden="true" style="color:#337ab7;"></span>{% trans "Home" %}</a></h3></li>
	  <li {% if request.path == "/social/events/{{ request.user.id }}" %} class="selected" {% endif %}><h3><a href="/social/events/{{ request.user.id }}"><span class="btn-lg glyphicon glyphicon-calendar" aria-hidden="true" style="color:#337ab7;"></span>{% trans "Events" %}</a></h3></li>
	  <li {% if request.path == "/social/messages/" %} class="selected" {% endif %}><h3><a href="/social/messages/"><span class="btn-lg glyphicon glyphicon-comment" aria-hidden="true" style="color:#337ab7;"></span>{% trans "Messages" %}</a></h3></li>
	  <li {% if request.path == "/social/notifications/" %} class="selected" {% endif %}><h3><a href="/social/notifications/"><span class="btn-lg glyphicon glyphicon-bullhorn" aria-hidden="true" style="color:#337ab7;"></span>{% trans "Notifications" %}</a></h3></li>
	  <li {% if request.path == "/social/contacts/" %} class="selected" {% endif %}><h3><a href="/social/contacts/"><span class="btn-lg glyphicon glyphicon-user" aria-hidden="true" style="color:#337ab7;"></span>{% trans "Contacts" %}</a></h3></li>
	  <li {% if "/accounts/settings/" in request.path %} class="selected" {% endif %}><h3><a href="/accounts/settings/general/{{ request.user.id }}"><span class="btn-lg glyphicon glyphicon-cog" aria-hidden="true" style="color:#337ab7;"></span>{% trans "Settings" %}</a></h3></li>
	</ul>
      </div>
      {% endif %}
      
      <div class="container">
	{% block content %}
	
	{% endblock content %}
      </div>
    </div>

    {% block modals %}
    {% endblock modals %}

    {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/endless-pagination.js' %}"></script>
    <script src="http://188.166.19.65:8002/socket.io/socket.io.js"></script>

    <script type="text/javascript" >
      {% if request.user.info.unread_messages == 0 %}
      $("#new-message-badge").hide();
      {% endif %}

      {% if request.user.info.unread_notifications == 0 %}
      $("#unread-notifications-badge").hide();
      {% endif %}
      
      $(document).ready(function() {
          var socket = io("http://188.166.19.65:8002");

          socket.on("message", function(message) {
              var message_json = jQuery.parseJSON(message);

          if ("new_messages" in message_json) {
              $("#new-message-badge").show();
              $("#new-message-badge").text(message_json.new_messages);
          } else if ("unread_notifications" in message_json) {
              $("#unread-notifications-badge").show();
              $("#unread-notifications-badge").text(message_json.unread_notifications);
          }
          });
      
      });
    </script>
    {% endblock js %}
  </body>
</html>
