{% load endless %}
{% with page.object_list as games %}
{% lazy_paginate 6 games %}
<div class="row">
  {% for game in games %}
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="{{ game.object.cover.large.url }}" class="img-responsive" />
      <div class="caption">
	<p>fff</p>
	<h3><a href="/game/{{ game.object.id }}">{{ game.object.name }}</a></h3>
	<p> {{ game.object.number_of_events }} events is active</p>
	<p><a href="/game/{{ game.object.id }}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% show_more %}
{% endwith %}
