{% extends "base.html" %}

{% load static from staticfiles %}
{% load i18n %}
{% load l10n %}
{% load tz %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/ >
{% endblock css %}

{% block content %}

<form method="POST" style="margin-top:2%">{% csrf_token %}

  <div class="row">
    <div class="col-md-6">
      <label for="birthdate">{% trans "Birthdate" %}: </label>
      <input id="birthdate" type="text" name="birthdate" {% if request.user.info.birthdate != None %} value="{{ request.user.info.get_birthdate }}" {% endif %}></input>
    </div>
    <div class="col-md-6">
      <label for="sex">{% trans "Sex" %}: </label>
      <select id="sex" name="sex">
	<option value="undefined" {% if request.user.info.sex == None %} selected {% endif %}>{% trans "Undefined" %}</option>
	<option value="male" {% if request.user.info.sex %} selected {% endif %}>{% trans "Male" %}</option>
	<option value="female" {% if request.user.info.sex == False %} selected {% endif %}>{% trans "Female" %}</option>
      </select>
    </div>
  </div>
  
  <hr/>

  <div class="row">
    <div class="col-md-4">
      <label for="chk_languages[]">{% trans "What languages do you speak" %}:</label>
      <div id="choose-language-div" style='border:2px solid #ccc; width:300px; height: 300px; overflow-y: scroll;'>
	{% for language in languages %}
	<input type="checkbox" name="chk_languages[]" value="{{ language }}" {% if language.name_en in user_languages %} checked {% endif %}/>{% trans language.name_en %}<br/>
	{% endfor %}
      </div>
    </div>
    <div class="col-md-6">
      <label for="chk_platforms[]">{% trans "Select platforms that you own" %}:</label>
      <div id="choose-platform-div" style='border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll;'>
	{% for platform in platforms %}
	<input type="checkbox" name="chk_platforms[]" value="{{ platform }}" {% if platform.name in user_platforms %} checked {% endif %}/>{{platform}} <br/>
	{% endfor %}
      </div>
    </div>
  </div>

  <hr/>
  
  {% get_current_timezone as TIME_ZONE %}
  <label for="timezone">{% trans "Time zone" %}:</label>
  <select name="timezone" id="timezone">
    {% for tz in timezones %}
    <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
    {% endfor %}
  </select>
  <input type="hidden" name="auto_tz" id="auto_tz" value=""/>
  <t>{% trans "*will be set automatically according to your location" %}</t>

  <input id="pac-input" class="controls" type="text" placeholder="Search Box" style="width:30%;height:6.5%;margin-top:1%">
  <div id="map" style="height:550px;width:750px;"></div>
  <input type="hidden" name="latitude" value="" id="latitude" />
  <input type="hidden" name="longitude" value="" id="longitude"/>

  <hr/>
  
  <input type="submit" value="{% trans 'Apply changes' %}" class="btn btn-primary btn-lg" role="button" style="margin-left:600px;margin-bottom:5%" id="set-location"></input>
</form>

{% endblock content %}

{% block js %}
{{ block.super }}

{% localize off %}
<script type="text/javascript">
  function setTimeZone(lat,lng){
      var xmlhttp = new XMLHttpRequest();
      var url = "https://maps.googleapis.com/maps/api/timezone/json?location=" + lat + "," + lng + "&timestamp=" + 1331766000 + "&key=AIzaSyAuZYSk0reDytPScHaO43CGKZJlqqrUF8k";
      xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            var myArr = JSON.parse(xmlhttp.responseText);
            var tzId = myArr.timeZoneId;
            var timezone = $("#auto_tz");
            timezone.val(tzId);
          }
      };

      xmlhttp.open("GET", url, true);
      xmlhttp.send();
  };

  var isMarker = false;
  
  function initAutocomplete() {
  var map = new google.maps.Map(document.getElementById("map"), {
    center: {lat: {{ latitude }}, lng: {{ longitude }}},
    zoom: 12,
    minZoom: 12,
    maxZoom: 12,
    zoomControl: false,
    streetViewControl: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  
  // Create the search box and link it to the UI element.
  var input = document.getElementById("pac-input");
  var autocomplete_options = {
      types: ["(cities)"]
  };
  
  var autocomplete = new google.maps.places.Autocomplete(input,autocomplete_options);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    autocomplete.setBounds(map.getBounds());
  });

  var marker = new google.maps.Marker({
    map: map,
    anchorPoint: new google.maps.Point({{ latitude }}, {{ longitude }})
  });

  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  autocomplete.addListener('place_changed', function() {
    isMarker = true;
    marker.setVisible(false);
    var place = autocomplete.getPlace();
    setTimeZone(place.geometry.location.lat(),place.geometry.location.lng());
    if (!place.geometry) {
      window.alert("Autocomplete's returned place contains no geometry");
      return;
    }

    // If the place has a geometry, then present it on a map.
    if (place.geometry.viewport) {
      map.fitBounds(place.geometry.viewport);
    } else {
      map.setCenter(place.geometry.location);
      map.setZoom(17);  // Why 17? Because it looks good.
    }
    marker.setIcon(/** @type {google.maps.Icon} */({
      url: place.icon,
      size: new google.maps.Size(71, 71),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(17, 34),
      scaledSize: new google.maps.Size(35, 35)
    }));
    marker.setPosition(place.geometry.location);
    marker.setVisible(true);

  });
  $("#set-location").on("click", function(){
      var center = map.getCenter();
      var lat = center.lat();
      var lng = center.lng();

      if (isMarker){
          $("#latitude").val(lat);
          $("#longitude").val(lng);
      }
  });
  }
</script>
{% endlocalize %}

<script	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWhh6SIcYmR-X3YlJY71kB8friJ1pmxjs&libraries=places&callback=initAutocomplete"
async defer></script>

<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
<script type="text/javascript">  
  jQuery.datetimepicker.setLocale("{{ locale }}");
  $("#birthdate").datetimepicker({
      step: 15,
      format: "Y-m-d"
  });
</script>
  
{% endblock js %}
