body {
    padding-top: 50px;
}

.navbar-right{
    margin-right: 18%;
}

.btn{
    padding-top:1%;
}

#search-box{
    border-radius:10px;
    height:30px;
}

#search-button{
    height:30px;
    border-radius:0 10px 10px 0;
    z-index:2;
    margin-left:-6%;
    margin-top:-1.2%;
}

.img-circle{
    height: 60px;
    margin-top: 5%;
    margin-left: 5%;
}

#username{
    font-size: large;
    color: #0087BD;
    margin-left: 10%;
}

hr{
    border-color:black;
}

@media (max-width: 1280px){
    #sidebar{
	display:none;
    }
}

#sidebar{
    z-index: 1;
    position: fixed;
    width: 280px;
    height: 400px;
    overflow-y: hidden;
    background: white;
    border: solid 1px;
    border-radius: 0px 0px 20px 0px;
    box-shadow: 3px 3px 15px 3px #888888;
    transition: all 1s ease;
}

#sidebar:target{
    height: 0px;
}

.sidebar-nav{
    margin-top: 8%;
    margin-right: 15%;
    list-style: none;
}

.sidebar-nav li{
    font-family: times;
    margin-bottom: -10%;
}

.sidebar-nav li a{
    display: block;
    font-size: x-large;
    text-decoration: none;
    color: black;
}

.sidebar-nav li a:hover{
    background: #DCDCDC;
}

.sidebar-nav .selected{
    background: #DA2C43;
}


/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* Login Form */
#loginForm {
    width:248px; 
    border:1px solid black;
    border-radius:5px;
    margin-top:-1px;
    background:black;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}

footer {
    background:#F8F8F8;
    height: 36px;
    border: 1px solid #E7E7E7;
}

.twitter-share-button{
    margin-top:1%;
}

.fb-like{
    margin-top:4%;
}