.main-header{
    margin-left: 250px;
}

.navbar-right{
    margin-right: 20%;
}

.btn{
    padding-top:1%;
}

.img-circle{
    height: 25%;
    margin-top: 5%;
    margin-left: 5%;
}

#sidebar{
    z-index: 1;
    position: absolute;
    width: 250px;
    overflow-y: hidden;
    background: #2C3E55;    
}

#wrapper.menuDisplayed #sidebar{
    width: 0;
}

#wrapper.menuDisplayed .main-header{
    margin-left: 0;
}

.sidebar-nav{
    margin-top: 15%;
    margin-right: 10%;
    list-style: none;
}

.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover{
    height:30px;
}

