{% load endless %}
{% load i18n %}

{% lazy_paginate 4 events %}
{% for event in events %}
<div class="thumbnail" style="border-radius:20px;background:#F5F5DC">
	<div class="row">
	  <div class="col-md-2">
	    <a href="/game/{{ event.game.id }}">
		<img src="{{ event.game.cover.thumbnail.url }}" class="img-responsive" alt="{{ event.game.name }}" style="margin-top:3%;border-radius:10px 0px 0px 10px;"/>
	    </a>
	  </div>
	  <div class="col-md-4" style="margin-top:-1%">
	    <h3><a href="/event/{{ event.id }}" class="btn btn-lg"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>{{ event.name }}</h3>
	    <p><t style="color:#0087BD">{% trans "Start time" %}:</t> {{ event.start_time }}<p>
	    <p><t style="color:#0087BD">{% trans "Full" %}:</t> {{ event.participation_set.count }}/{{ event.participant_number }}</p>
	    <p><t style="color:#0087BD">{% trans "Location" %}:</t> {{ event.location.country }}, {{ event.location }}</p>
	    <p><t style="color:#0087BD">{% trans "Languages" %}:</t> {% for lang in event.languages.all %} {% trans lang.language %}, {% endfor %}</p>
	    <div class="row">
	      <div class="col-md-3">
		<t style="color:#0087BD">{% trans "Platform" %}:</t>
	      </div>
	      <div class="col-md-2">
		<img src="{{ event.platform.logo.thumbnail.url }}" class="img-responsive" alt="{{ event.platform.name }}"/>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-6" style="margin-top:-1%">
	    <h3>{% trans "Description" %}:</h3>
	    <p>{{ event.description }}</p>
	  </div>
      </div>
</div>

{% endfor %}
{% show_more %}
