{% load endless %}

{% load i18n %}

{% lazy_paginate 6 games %}
<div class="row">
  {% for game in games %}
  <div class="col-md-3">
    <div class="thumbnail" style="border-radius:20px;background:#F5F5DC">
      <a href="/game/{{ game.id }}">
	<img src="{{ game.cover.large.url }}" class="img-responsive" style="border-radius:20px 20px 0 0"/>
	<div class="caption" style="">
	  <h3 style="color:black;text-align:center">{{ game.name }}</h3>
      </a>
      <p style="text-align:center;color:#A45A52"> {{ game.number_of_events }} {% trans "events is active" %}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% show_more %}
