{% extends "base.html" %}

{% load static from staticfiles %}
{% load i18n %}
{% load endless %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.5/css/bootstrap-slider.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/ >
<style>
  #loc-slider .slider-track-high {
	background: red;
  }
  #loc-slider .slider-tick {
        background: red;
}
  #loc-slider .slider-tick.in-selection{
        background: #81bfde;
  }
</style>
{% endblock css %}

{% block content %}

<div class="row" style="margin-top:1%">
  <div class="col-md-3">
    <img src="{{ game.cover.large.url }}" class="img-responsive" />
  </div>

  <div class="col-md-9" style="margin-top:-1%">
    <h1 style="font-family:utopia">{{ game.name }}</h1>
    <hr>
    <div class="col-md-2" style="color:grey">
      <p>{% trans "Platforms" %}:</p>
    </div>
    <div class="col-md-10" style="color:#0087BD">
      <div class="row">
	{% for platform in game.gameplatform_set.all %}
	<div class="col-md-1">
	  <img src="{{ platform.platform.logo.thumbnail.url }}" class="img-responsive" alt="{{ platform.platform.name }}"/>
	</div>
	{% endfor %}
      </div>
    </div>
    <p style="margin-left:1.7%;padding-top:6%;">{% trans game.description %}</p>
  </div>
</div>

<hr>

{% if request.user.is_authenticated %}
<div class="row">
  <div class="col-md-0">
  </div>
  <div class="col-md-4" style="margin-top:0.4%;">
    <h3 style="margin-top:1%;margin-left:15%;font-family:helvetica">{% trans "You're looking for events in " %}</h3>
  </div>
  <div class="col-md-4" style="margin-top:1%;">
    <form id="loc-form" method="POST">{% csrf_token %}
      <input name="location" id="loc-change" type="text" style="width:250px;" data-slider-step="100" data-slider-value="{{ location_value }}"/>
    </form>
  </div>
  <div class="col-md-2">
	<div class="thumbnail" style="border-radius:30px">
	  <center><a href="#filter-parameters" data-toggle="modal"><h4>{% trans "Filter parameters" %}</h4></a></center>
	</div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail" style="border-radius:30px">
      <center><a href="#event" data-toggle="modal"><h4>{% trans "Create new event" %}</h4></a></center>
    </div>
  </div>

</div>

<hr>

{% endif %}


{% include page_template %}

{% endblock content %}

{% if request.user.is_authenticated %}
{% block modals %}

<div class="modal fade" id="event" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<form method='POST'>{% csrf_token %}
	  <div class="row">
	    <div class="col-md-4" style="margin-top:-5%;margin-bottom:-4%">
	      <h3>{% trans "Event name" %} :</h3>
	    </div>
	    <div class="col-md-8" style="margin-top:-1.5%;margin-bottom:-4%">
	      <input id="id_name" maxlength="512" name="name" type="text" style="width:100%"/>
	    </div>
	  </div>
	  <hr/>
	  <h4>{% trans "Description" %}:</h4>
	  <textarea id="id_description" name="description" rows="5" style="width:100%"></textarea>
	  {{ form.participant_number.label_tag }}
	  {{ form.participant_number }}
	  {{ form.platform.label_tag }}
	  {{ form.platform }}
	  {{ form.languages.label_tag }}
	  {{ form.languages }}
	  <hr/>
	  {{ form.start_time.label_tag }}
	  {{ form.start_time }}
	  {{ form.before.label_tag }}
	  {{ form.before }}
	  <hr/>
	  <input type='submit' class="btn btn-success" value={% trans "Create event" %} />
	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="filter-parameters" role="dialog" style="width:100%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<form method='POST' id="filter-params-form">{% csrf_token %}
	  <p><b>{% trans "Apply time period filter" %}: </b><input id="time-filter" type="checkbox" name="time-filter" value="on" {% if request.user.search_settings.time %} checked {% endif %}/></p>
	  <div id="choose-period-div">
	    <input id="period-start" type="text" name="period-start" value="{{ request.user.search_settings.get_beginning_date }}"></input>
	    <t> {% trans "to" %} </t>
	    <input id="period-end" type="text" name="period-end" value="{{ request.user.search_settings.get_ending_date }}"></input>
	  </div>
	  <p><b>{% trans "Apply game platform filter" %}: </b><input type="checkbox" name="platform-filter" id="platform-filter" value="on" {% if request.user.search_settings.platform %} checked {% endif %}/></p>
	  <div id='choose-platform-div' style='border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll;'>
	    {% for platform in request.user.platforms.all %}
	    <input type='checkbox' name='chk_platforms[]' value='{{ platform.platform }}' {% if platform.search %} checked {% endif %}/>{{platform.platform}} <br/>
	    {% endfor %}
	  </div>
	  <p><b>{% trans "Apply language filter" %}: </b><input type="checkbox" name="lang-filter" id="lang-filter" value="on" {% if request.user.search_settings.language %} checked {% endif %}/></p>
	  <div id='choose-lang-div' style='border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll;'>
	    {% for lang in request.user.languages.all %}
	    <input type='checkbox' name='chk_languages[]' value='{{ lang.language }}' {% if lang.search %} checked {% endif %}/>{{lang.language}} <br/>
	    {% endfor %}
	  </div>
	  <input type='submit' value={% trans "Apply" %} />
	</form>
      </div>
    </div>
  </div>
</div>


{% endblock modals %}

{% block js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.5/bootstrap-slider.min.js"></script>
<script type="text/javascript">

  // Time period filter
  if ($("#time-filter").is(":checked")) {
  }
  else {
     $("#choose-period-div").find(":input").prop("disabled",true);
  }
  
  $("#time-filter").click(function(){
     if ($(this).is(":checked")) {
          $("#choose-period-div").find(":input").prop("disabled",false);
      }
  
     else {
          $("#choose-period-div").find(":input").prop("disabled",true);
          var element = "<input type='hidden' name='period-off' value='off'>"; 
          $(element).insertAfter("#time-filter");  
      }
  
  });
  
  // Platform filter
  if ($("#platform-filter").is(":checked")) {
  }
  else {
     $("#choose-platform-div").find(":input").prop("disabled",true);
  }
  
  $("#platform-filter").click(function(){
     if ($(this).is(":checked")) {
          $("#choose-platform-div").find(":input").prop("disabled",false);
      }
  
     else {
          $("#choose-platform-div").find(":input").prop("disabled",true);
          var element = "<input type='hidden' name='platform-off' value='off'>"; 
          $(element).insertAfter("#platform-filter");  
      }
  
  });
  
  // Language filter

  if ($("#lang-filter").is(":checked")) {
  }
  else {
     $("#choose-lang-div").find(":input").prop("disabled",true);
  }
  
  $("#lang-filter").click(function(){
     if ($(this).is(":checked")) {
          $("#choose-lang-div").find(":input").prop("disabled",false);
      }
  
     else {
          $("#choose-lang-div").find(":input").prop("disabled",true);
          var element = "<input type='hidden' name='language-off' value='off'>"; 
          $(element).insertAfter("#lang-filter");  
      }
  
  });

</script>
<script type="text/javascript">
  $("#loc-change").slider({
      id: "loc-slider",
      ticks: [0, 100, 200, 300],
      ticks_labels: ['Your city', 'Your region', 'Your country', 'Worldwide'],
      ticks_snap_bounds: 50,
  });

  $("#loc-change").on("change",function(){
      $("#loc-form").submit();
  });
</script>

<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

<script type="text/javascript">
  jQuery.datetimepicker.setLocale("ru");
  
  $("#id_start_time").datetimepicker({
      onChangeDateTime: function(dp,$input){
          $("#id_before").val($input.val());
          $("#id_before").show();
      },
      step: 15,
      format: "Y-m-d H:i"
  });

  $("#id_before").datetimepicker({
      step: 15,
      format: "Y-m-d H:i"
  });

  $("#period-start").datetimepicker({
      step: 15,
      format: "Y-m-d H:i"
  });

  $("#period-end").datetimepicker({
      step: 15,
      format: "Y-m-d H:i"
  });
</script>

<script>$.endlessPaginate({
  paginateOnScroll: true,
  paginateOnScrollMargin: 20
  });
</script>

{% endblock js %}
{% endif %}
